In [2]:
import pandas as pd
import numpy as np

# 读写文本格式文件

### 读

In [4]:
#方式1（默认的分隔符是 ，）
df = pd.read_csv('exl.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [5]:
#方式2(默认的分隔符是 \t )
df2 = pd.read_table('exl.csv',sep=',')# sep指定分隔符
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [7]:
df3 = pd.read_csv('ex2.csv',header=None)  #参数header在没有列名的情况下使用来默认分配列名
df3

   0   1   2   3       4
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [8]:
df4 = pd.read_csv('ex2.csv',names = ['a','b','c','d','message']) #参数header在没有列名的情况下指定列名
df4

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  python

In [10]:
df5 = pd.read_csv('ex2.csv',names = ['a','b','c','d','message'],index_col=['message','a']) 
#参数index_col，指定某一列(或多列)成为行索引       有个skiprows参数作用：需要忽略的行数（从文件开始处算起）
df5

            b   c   d
message a
hello   1   2   3   4
world   5   6   7   8
python  9  10  11  12

### 写

In [12]:
df.to_csv('write.csv') # 将df1写入一个以逗号伟=为分隔符的csv文件

### 分块读取大文件

In [ ]:
ass1 = pd.read_csv('文件地址',chunksize=10) # 参数chunksize=10指定读取数据的大小,加了参数后返回的是可迭代的对象
ass1.get_chunk(x) #返回获取到的数据  参数x可选择读取的行数

In [ ]:
ass1 = pd.read_csv('文件地址',iterator=True)  #可迭代
ass1.get_chunk(x) #比上面那个好用