In [1]:
import pandas as pd
import numpy as np

In [8]:
ps = pd.Series(range(5),index = ['a','s','d','f','g'])
ps

a    0
s    1
d    2
f    3
g    4
dtype: int64

In [19]:
pd1 = pd.DataFrame(np.arange(9).reshape(3,3),index = ['a','a','d'])  #索引可以相同
pd1

   0  1  2
a  0  1  2
a  3  4  5
d  6  7  8

# 增

In [6]:
#series在原有基础上增加
ps['h']='cao'
ps

a      0
s      1
d      2
f      3
g      4
h    cao
dtype: object

In [16]:
#series重新新建一个增加
s1 = pd.Series({'f':1})
ps3 = ps.append(s1)
ps3

a    0
s    1
d    2
f    3
g    4
f    1
dtype: int64

In [20]:
#dataframe增加列的数据
pd1[3] = [3,6,9]
pd1

   0  1  2  3
a  0  1  2  3
a  3  4  5  6
d  6  7  8  9

In [21]:
#dataframe增加列的数据
pd1.insert(0,'E',['日','你','妈'])  #参一：指定插入位置 参二：指定索引名 参三：插入数据
pd1

   E  0  1  2  3
a  日  0  1  2  3
a  你  3  4  5  6
d  妈  6  7  8  9

In [42]:
#dataframe增加行
#dataframe标签索引loc
pd1.loc['d'] = ['我','日','你','仙','人']
pd1

ValueError: cannot copy sequence with size 5 to array axis with dimension 4

In [27]:
#dataframe重新新建一个增加
row = {'E':'w',0:1,1:2,2:3,3:4}
pd2 = pd1.append(row,ignore_index=True) #参数ignore_index=True，忽略自己设置的行索引
pd2

   E  0  1  2  3
0  日  0  1  2  3
1  你  3  4  5  6
2  我  日  你  仙  人
3  w  1  2  3  4

# 删

In [28]:
#series删除
del ps['a']
ps

s     1
d     2
f     3
g     4
t    11
dtype: int64

In [29]:
#dataframe删除列
del pd1['E']
pd1

   0  1  2  3
a  0  1  2  3
a  3  4  5  6
d  日  你  仙  人

In [32]:
#drop 删除轴上的数据，不会更改原本数据，而是返回一个更改后的数据,
#默认删除的行，axis=1删除列，等同于axis=‘columns’
#axis = 0删除行
#在drop中加一个参数inplace = True则是针对于修改原数据

s     1
d     2
g     4
t    11
dtype: int64

In [ ]:
#series 删除一条
ps2 = ps.drop('f')
ps2

In [33]:
#series删除多条
ps4 = ps.drop(['s','d'])
ps4

f     3
g     4
t    11
dtype: int64

In [38]:
#dataframe删除一行
pd3 = pd1.drop('a')
pd3

   0  1  2  3
d  日  你  仙  人

In [50]:
#dataframe删除多行
pd4 = pd1.drop(['a','d'])
pd4

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [49]:
#dataframe删除列
pd5 = pd1.drop(0,axis = 1) # 1删列0删行
pd5

   1  2  3
a  1  2  3
a  4  5  6
d  你  仙  人