In [2]:
import numpy as np
import pandas as pd

In [5]:
ps = pd.Series(range(5),index = ['a','s','d','f','g'])
ps

a    0
s    1
d    2
f    3
g    4
dtype: int64

In [16]:
pd1 = np.arange(9).reshape(3,3)
pd1 = pd.DataFrame(pd1,,index = ['a','b','c'],columns = ['A','B','C'])
pd1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

# loc标签索引

In [11]:
ps.loc['d':'g'] <=>ps['d':'g']

d    2
f    3
g    4
dtype: int64

In [17]:
pd1.loc['a':'b','B':'C'] #第一个索引是行 第二个索引是列

   1  2
0  1  2
1  4  5

# iloc位置索引

In [21]:
ps[1:3]<=>ps.iloc[1:3]

s    1
d    2
dtype: int64

In [22]:
pd1.iloc[0:2,0:2]

   0  1
0  0  1
1  3  4