In [1]:
import numpy as np
import pandas as pd

# 转置

In [2]:
pd5 = np.arange(9).reshape(3,3)
pd5 = pd.DataFrame(pd5,columns=['A','B','C'],index = ['a','b','c'])
print(pd5)
print(pd5.T) #和numpy一样，行与列进行转置

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8
   a  b  c
A  0  3  6
B  1  4  7
C  2  5  8

# 通过列索引获取列数据

In [3]:
pd5['A']['a']

0

# 向dataframe中增加数据

In [4]:
pd5['D'] = [1,2,3]
pd5

   A  B  C  D
a  0  1  2  1
b  3  4  5  2
c  6  7  8  3

# 删除一个列

In [5]:
del(pd5['C'])
pd5

   A  B  D
a  0  1  1
b  3  4  2
c  6  7  3