In [1]:
import numpy as np
import pandas as pd

# reindex 创建一个符合新索引的对象

重建行索引

In [2]:
ps = pd.Series(range(5),index = ['a','s','d','f','g'])
ps

a    0
s    1
d    2
f    3
g    4
dtype: int64

In [11]:
pd1 = pd.DataFrame(np.arange(9).reshape(3,3),index = ['a','a','d'])  #索引可以相同
pd1

   0  1  2
a  0  1  2
a  3  4  5
d  6  7  8

In [4]:
#重建行索引
ps2 = ps.reindex(['a','s','d','f','g','h'])
ps2

a    0.0
s    1.0
d    2.0
f    3.0
g    4.0
h    NaN
dtype: float64

In [13]:
#重建行索引
pd2 = pd1.reindex(['a','a','d'])
pd2

   0  1  2
a  0  1  2
a  3  4  5
d  6  7  8

重建列索引

In [20]:
pd3 = pd1.reindex(columns=[0,1,2])
pd3

   0  1  2
a  0  1  2
a  3  4  5
d  6  7  8