In [2]:
import numpy as np
import pandas as pd

# apply和applymap

In [27]:
#可以直接使用numpy函数
df = pd.DataFrame(np.random.rand(5,4))
np.abs(df)#求绝对值

          0         1         2         3
0  0.381837  0.173451  0.583223  0.723365
1  0.239526  0.407874  0.539531  0.324818
2  0.153704  0.102081  0.534331  0.917902
3  0.446581  0.235907  0.002410  0.958155
4  0.732706  0.124119  0.048980  0.140522

In [36]:
#通过apply将函数应用到列或者行
f = lambda x:x.max()
df.apply(f,axis=1) #轴的默认方向axis=0列

0    0.723365
1    0.539531
2    0.917902
3    0.958155
4    0.732706
dtype: float64

In [37]:
#通过applymap将函数应用到每个数据
f2 = lambda x:'%.2f'%x
df.applymap(f2)

      0     1     2     3
0  0.38  0.17  0.58  0.72
1  0.24  0.41  0.54  0.32
2  0.15  0.10  0.53  0.92
3  0.45  0.24  0.00  0.96
4  0.73  0.12  0.05  0.14

# 排序

In [42]:
#Series索引排序
s1 = pd.Series(range(4),index = list('dcba'))
s1.sort_index() # 默认是升序
s1.sort_index(ascending = False)  # 降序排列

d    0
c    1
b    2
a    3
dtype: int64

In [61]:
#DataFrame索引排序
dp = pd.DataFrame(np.arange(12).reshape(4,3),index = list('bdca'),columns = list('BDC'))
dp.sort_index()# 默认行排序，并且是升序
dp.sort_index(axis = 1)

   B   C   D
b  0   2   1
d  3   5   4
c  6   8   7
a  9  11  10

In [51]:
#Series值排序
s1.sort_values() #根据值的大小进行排序，当有缺失值（无论升序降序），默认排在最后

d    0
c    1
b    2
a    3
dtype: int64

In [69]:
#DataFrame值排序
dp.sort_values(by=['B','C'],ascending=True) #指定多列进行排序，先排第一个

   B   D   C
b  0   1   2
d  3   4   5
c  6   7   8
a  9  10  11

# 唯一值和成员属性

In [77]:
#Series
#唯一值
s1 = pd.Series([2,6,8,9,8,3,6])
s2 = s1.unique() #返回一个只有s1中唯一值的数组
s2
#索引的唯一值判断
s1.index.is_unique
#返回s1中的值出现的次数
s1.value_counts()
#判断值是否存在，返回布尔类型
s1.isin([8])
#判断多个
s1.isin([8,2])

0     True
1    False
2     True
3    False
4     True
5    False
6    False
dtype: bool

In [81]:
#DataFrame
data = pd.DataFrame({'a':[3,7,9,0],'b':[1,-1,4,8],'c':[0,6,-3,2]})
data.isin([0,3]) #判断值是否存在

AttributeError: 'DataFrame' object has no attribute 'unique'

# 处理缺失数据

In [100]:
df3 = pd.DataFrame([np.random.randn(3),[1,2,np.nan],
                   [np.nan,4,np.nan],[1,2,3]])
df3

          0         1         2
0  0.315148 -1.245501 -0.705135
1  1.000000  2.000000       NaN
2       NaN  4.000000       NaN
3  1.000000  2.000000  3.000000

In [103]:
#判断是否存在缺失值
~np.isnan(df3)
df3.isnull()
#丢弃缺失数据
df3.dropna()#默认丢弃出现缺失值的行
df3.dropna(axis=1)#丢弃出现缺失值的列
#填充缺失数据
df3.fillna(-100)

            0         1           2
0    0.315148 -1.245501   -0.705135
1    1.000000  2.000000 -100.000000
2 -100.000000  4.000000 -100.000000
3    1.000000  2.000000    3.000000