In [2]:
import numpy as np
import pandas as pd

# 算数运算和对齐

In [6]:
ps1 = pd.Series(np.arange(5),index = ['a','b','c','d','f'])
ps2 = pd.Series(np.arange(5),index = ['e','f','g','h','i'])
ps2+ps1  #求的结果是并集

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    5.0
g    NaN
h    NaN
i    NaN
dtype: float64

In [13]:
pd1 = pd.DataFrame(np.arange(12).reshape(4,3),index=['a','b','c','d'],columns = list('ABC'))
pd2 = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','b','g'],columns = list('ABC'))
pd2+pd1  #返回结果是并集

     A    B     C
a  0.0  2.0   4.0
b  6.0  8.0  10.0
c  NaN  NaN   NaN
d  NaN  NaN   NaN
g  NaN  NaN   NaN

# 使用填充值的算数方法

In [16]:
ps1.add(ps2,fill_value=0)
pd1.add(pd2,fill_value=0)

     A     B     C
a  0.0   2.0   4.0
b  6.0   8.0  10.0
c  6.0   7.0   8.0
d  9.0  10.0  11.0
g  6.0   7.0   8.0

In [17]:
pd1.rdiv(1)  前面有r代表会翻转参数

          A         B         C
a       inf  1.000000  0.500000
b  0.333333  0.250000  0.200000
c  0.166667  0.142857  0.125000
d  0.111111  0.100000  0.090909

In [19]:
pd1.reindex(columns=pd2.columns,fill_value=0)

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [ ]:
# Dataframe和Sries的混合运算

In [27]:
#Series对Dataframe进行广播，默认的是Series的列索引对应DataFrame的行索引
arr = np.arange(9).reshape(3,3)
pdd = pd.DataFrame(arr)
print(pdd)
pss = pd.Series(range(5,8))
print(pss)
pdd-pss

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8
0    5
1    6
2    7
dtype: int64

   0  1  2
0 -5 -5 -5
1 -2 -2 -2
2  1  1  1

In [26]:
#可以通过axis指定广播方式
pdd.sub(pss,axis=0)

   0  1  2
0 -5 -4 -3
1 -3 -2 -1
2 -1  0  1