# 二维的ndarry构造dataframe

In [1]:
import numpy as np
import pandas as pd

In [8]:
arr1 = np.arange(12).reshape(3,4)
frame = pd.DataFrame(arr1)
frame

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

# 通过字典构造成的列表构造dataframe

In [10]:
data = [{'apple':3.6,'bannan':2.7},{'apple':3.3,'bannan':2.7}]
frame = pd.DataFrame(data)
frame

   apple  bannan
0    3.6     2.7
1    NaN     2.7

# Series构造成的列表构造dataframe

In [11]:
l2 = [pd.Series(np.arange(3)),pd.Series(np.arange(4))]
l2 = pd.DataFrame(l2)
l2

     0    1    2    3
0  0.0  1.0  2.0  NaN
1  0.0  1.0  2.0  3.0