In [1]:
import numpy as np
import pandas as pd

# 数组，列表或元祖构成的字典构造dataframe

In [4]:
#构造一个字典
data = {
    'a':[1,2,3,4],
    'b':(5,6,7,8),
    'c':np.arange(9,13)
}
frame = pd.DataFrame(data)
frame

   a  b   c
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [15]:
#通过index查看行索引
frame.index
#通过columns查看列索引
frame.columns
#通过values属性查看值
frame.values
#指定index
frame = pd.DataFrame(data,index = ['A','B','C','D'])
frame
#指定列索引
frame = pd.DataFrame(data,index = ['A','B','C','D'],columns = ['a',2,3])
frame

   a    2    3
A  1  NaN  NaN
B  2  NaN  NaN
C  3  NaN  NaN
D  4  NaN  NaN

# Series构成的字典构造dataframe

In [16]:
pd1 = pd.DataFrame({'a':pd.Series(np.arange(3)),
                    'b':pd.Series(np.arange(2))
                   })
pd1

   a    b
0  0  0.0
1  1  1.0
2  2  NaN

# 通过字典构造成的字典构造dataframe

In [22]:
data1 = {
    'a':{'apple':3.2,'bannar':3.3},
    'b':{'apple':3.5,'bannar':3.3},
    'c':{'apple':3.2,'annar':3.3}
}
data2 = pd.DataFrame(data1)
data2

          a    b    c
apple   3.2  3.5  3.2
bannar  3.3  3.3  NaN
annar   NaN  NaN  3.3